.grid-container{
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 200px 1fr;
}

.header{
	grid-column: 1/3;
	grid-row: 1;
}

.flex-container{
	display: flex;
  	flex-direction: column;
	justify-content: center;
	align-items: center;
  	margin: 50px 170px;
	border: 1px solid white;
}

.green{
	background-color: #47FF7C;
}

.flex-container h1, p{
	color: white;
  	margin: 8px;
}

.maincontent{
	grid-column: 2;
	grid-row: 2;
}

.maincontent hr{
	background-color: grey;
	height: 2px;
}

.maincontent p{
  color:black;
}

.sidebar{
	grid-column: 1;
	grid-row: 2;
}

#My-pic{
	border-radius: 50%;
}

.strip hr{
  background-color: black;
	height: 3px;
}

.strip{
  background-color: #E8CCCD;
}

